.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.select {
    margin-top: 2rem;
}

.ButtonsFormat {
    margin: 1rem;
}

.textField {
    margin-left: 1rem;
    margin-top: 2rem;
}

.Buttons {
    margin-top: 2rem;
}

.okButton {
    margin-top: 1rem;
}